{
	"presets": ["module:metro-react-native-babel-preset"],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./src"],
				"extensions": [
					".ios.js",
					".android.js",
					".js",
					".ts",
					".jsx",
					".tsx",
					".json"
				],
				"alias": {
					"tests": ["./__tests__/"],
					"@assets": "./src/assets",
					"@config": "./src/config",
					"@navigations": "./src/navigations",
					"@screens": "./src/screens"
				}
			}
		]
	]
}
